body{
	background: #ddd;
	background: linear-gradient(90deg, rgba(32,38,45,1) 5%, rgba(169,129,150,1) 35%, rgba(238,174,202,1) 48%, rgba(238,174,202,1) 52%, rgba(173,131,152,1) 65%, rgba(32,38,45,1) 95%);
}
.nothing{
	padding-top: 100px;
	height: 300px;
	text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.75);
	text-align: center;
}
.title{
	font-size: 50px;
	color: #fff79b;
}
.subtitle{
	font-size: 18px;
	font-weight: 600;
	color:#fff;
}
.big{
	background: #c4c2c2aa;
	margin-left: 5%;
	margin-right: 5%;
	height: 700px; 
	border-radius: 2rem 2rem 0 0;
}
.box{
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px !important;
	background: rgba(255, 255, 255, 0.9) !important;
	width: 85%;
	height: 250px;
	border-radius: 1rem;
}
#box1{
	float: left;
	margin-left: 8%;
	margin-top: -30px;
}
#box2{
	float: left;
	margin-top: 80px;
	margin-left: 8%;
}

#sec1, #sec2{
	margin-bottom: 50px;
}
#sec1 a, #sec2 a{
	display: block;
}
.des--title{
	font-size: 24px;
	margin-left: 30px;
	margin-top: 20px;
}
.des--index{
	cursor: auto;
	width: 50%;
	margin-left: 45px;
	margin-top: 10px;
	text-decoration: none;
	color: #9400D3;
	transition: .1s;
}
.des--index:hover{
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 8px;
	color: #e65649;
	background: #e6e6e6;
}
