body{
	margin: 0; 
	padding: 0; 
	font-family: sans-serif, monospace;
	--font-family-sans-serif: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}::selection{
    background:#9ab0c0;
    color:#fff;
}
::-webkit-scrollbar {
	width: 12px;
	transition: 1s;
}
::-webkit-scrollbar-track {/*条*/
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}
::-webkit-scrollbar-thumb {/*块*/
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

/*top*/
#top{
	overflow: hidden;
	background-color: #333333;
	box-shadow: #00000085 1px 1px 5px 1px;
	padding-left: 10%;
}
#top a{
	background: #333333;
	color: #f2f2f2;
	width: 120px;
	height: 24px;
	float: left;
	text-align: center;
	font-size: 17px;
	padding: 20px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: .5rem;
	text-decoration: none;
	cursor: help;
	transition: .2s;
}
#top a:hover{
	background-color: #ddd;
	color: #000;
}
#top a.active{
	background: linear-gradient(45deg, #4CAF50 0%, #4CAF50 50%, #9bea9e 100%);
	background-size: 200%;
	color: white;
}
#top a.active:hover{
	font-size: 18px;
	text-shadow: 1px 1px 5px #222;
	background-position-x: 100%;
}
#top div.right{
	float: right;
	margin-right: 125px;
}
.right img{
	position: relative;
	padding: 2px;
	margin-top: 20px;
	width: 40px;
	height: 40px;
   border: 2px solid #90909099;
}
.dropdown{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	padding: 10px;
	margin-left: -45px;
	margin-right: 100px;
	border-radius: 1rem;
	box-shadow: 0px 8px 16px 0px #00000055;
	z-index: 301;
}
.right:hover .dropdown{
	display: block;
	animation: APear .15s linear forwards;
}
a#dropdown{
	background-color: #f9f9f9;
	color: #212121;
	width: 120px;
	height: 24px;
	float: left;
	padding: 12px 6px;
	font-size: 17px;
	text-decoration: none;
	border-radius: .5rem;
	margin-top: 3px;
	margin-bottom: 3px;
}
a#dropdown:hover{
	background: #F1F1F1;
	box-shadow:inset 0 0 5px 5px #f9f9f9;
}
@keyframes APear /*一个梨*/
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}


/*footer*/
.footer{
	margin-top: 0px !important;
	height: 150px;
	background: #28a745;
	transition: .2s;
	text-align: center;
	position: relative;
	color: #fff;
}
.footer a{
	color: #fff;
	transition: .2s;
}
.footer a:hover{
	cursor: help;
	color: #c0c0c0;
}
.footer-div{
	padding-top: 4%;
}
#f-hr{
	border: none;
	width: 100%;
	height: 3px;
	background-color: #333333;
	margin: 0px;
}
